<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="header">
		<header>
			<nav id="navbarTop" class="navbar navbar-expand-md navbar-dark fixed-top bg-primary d-print-none">
				
					<a class="navbar-brand" th:href="@{/}"> <i class="far fa-building fa-lg fa-fw"></i>HelpSind - Sua solução em condominio
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" id="navbarToggler" data-target="#navbarCollapse">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse" style="justify-content: flex-end; margin-right: 10px">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"></li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Administração
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" th:href="@{~/trustee/condominium/cadastro}">Condominio</a>
									<a class="dropdown-item" th:href="@{~/trustee/apartments/}">Apartamentos / Inquilino e Proprietário</a>
									<a class="dropdown-item" th:href="@{~/trustee/expense}">Lista de Despesas</a>
									<a class="dropdown-item" th:href="@{~/trustee/apportionment/}">Rateio de Despesas</a>
									<a class="dropdown-item" th:href="@{~/trustee/statement/}">Demonstrativo Financeiro</a>
									<a class="dropdown-item" th:href="@{~/trustee/account}">Lista de Contas / Aplicações</a>
									<a class="dropdown-item" th:href="@{~/trustee/person}">Cadastro de Fornecedor / Prestador</a>
									<a class="dropdown-item" th:href="@{~/trustee/maintenancePlan}">Plano de Manutenção</a>
									<a class="dropdown-item" th:href="@{~/trustee/taxPlan}">Plano de Impostos</a>
								</div>
							</li>
						</ul>
						<div  class="ml10" style="justify-content: flex-end; margin-left: 110px" sec:authorize="isAuthenticated()">
							<form class="form-inline mt-2 mt-md-0 "  th:action="@{/sair}" method="post">
								<div class="btn-group">
									<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sair</button>
								</div>
							</form>
						</div>
					</div>
				
			</nav>
		</header>
	
	</th:block>
</body>
</html>
