<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rateio</title>
</head>
<body>
<th:block th:fragment="content">
    <main role="main" >
        <h3 class="font-weight-light">Rateio Igualitário</h3>
        <div class="table-responsive" style="margin-bottom: 35px">
            <table class="table table-hover table-sm crud-list mb-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Despesa</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Qtd. apartamentos</th>
                    <th scope="col">Valor (por apto.)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="apportionment : ${apportionment.content}">
                    <th scope="row" th:text="${apportionment.expense.name}"></th>
                    <th scope="row" th:text="${apportionment.value}"></th>
                    <th scope="row" th:text="${apportionment.numberOfApartments}"></th>
                    <th scope="row" th:text="${apportionment.valueForApartments}"></th>
                </tr>
                </tbody>
            </table>
            <section style="display: flex; justify-content: space-around;">
                <div>
                    <b>Total</b>
                    <span th:text="${#aggregates.sum(apportionment.content.![value])}"></span>
                </div>
                <div>
                    <b>Total por Apto</b>
                    <span th:text="${#aggregates.sum(apportionment.content.![valueForApartments])}"></span>
                </div>
            </section>
        </div>

        <div style="display: flex">
            <h3 class="font-weight-light" style="margin-right: 25px">Rateio Proporcional</h3>
            <div class="btn-group mb-3 float-right">
                <a class="btn btn-light" th:href="@{/trustee/apportionment/cadastro}"><i class="fas fa-plus"></i>Novo</a>
            </div>
        </div>

        <div class="table-responsive" style="margin-bottom: 35px">
            <table class="table table-hover table-sm crud-list mb-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Apto</th>
                    <th scope="col">Despesa</th>
                    <th scope="col">Leitura Inicial</th>
                    <th scope="col">Leitura Final</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Condomínio</th>
                    <th scope="col">Valor Total</th>
                </tr>
                </thead>
<!--                <tbody>-->
<!--                <tr th:each="apartments : ${apartments.content}">-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.numbear}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                </tr>-->
<!--                </tbody>-->
            </table>
        </div>
        <h3 class="font-weight-light">Condomínio Total</h3>
        <div class="table-responsive">
            <table class="table table-hover table-sm crud-list mb-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Apto</th>
                    <th scope="col">Rateio Igualitário</th>
                    <th scope="col">Rateio Proporcional</th>
                    <th scope="col">Total Condominio</th>
                    <th scope="col">Fundo de Obra + Reserva</th>
                    <th scope="col">Total Geral</th>
                </tr>
                </thead>
                <tbody>
<!--                <tr th:each="apartments : ${apartments.content}">-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                    <th scope="row" th:text="${apartments.number}"></th>-->
<!--                </tr>-->
                </tbody>
            </table>
        </div>
    </main>

    <!--    <div th:unless="${#lists.isEmpty(expense)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">-->
    <!--        <div class="modal-dialog  modal-dialog-centered" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal">-->
    <!--                        <span>&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <form th:action="@{/trustee/expense/excluir}" th:method="delete" novalidate>-->
    <!--                    <input type="hidden" id="idObj" name="idObj"/>-->
    <!--                    <div class="modal-body">-->
    <!--                        Confirma a exclusão da despesa '<span></span>'?-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="submit" class="btn btn-danger">Excluir</button>-->
    <!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</th:block>

<th:block th:fragment="jsAdicional"></th:block>

</body>
</html>