<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rateio</title>
</head>
<body>
<th:block th:fragment="content">
    <main role="main" >
        <h3 class="font-weight-light">Rateio Igualitário</h3>
        <div class="table-responsive" style="margin-bottom: 35px">
            <table class="table table-hover table-sm crud-list mb-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Despesa</th>
                    <th scope="col">Valor total</th>
                    <th scope="col">Qtd. apartamentos</th>
                    <th scope="col">Valor (por apto.)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="apportionment : ${apportionment}">
                    <th scope="row" th:text="${apportionment.name}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionment.total, 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
                    <th scope="row" th:text="${totalApartment}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionment.totalPerApartment, 1, 'DEFAULT', 2, 'DEFAULT')}" ></th>
                </tr>
                </tbody>
            </table>
            <section style="display: flex; justify-content: space-around;">
                <div>
                    <b>Total</b>
                    <span th:text="${#numbers.formatDecimal(#aggregates.sum(apportionment.![total]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                </div>
                <div>
                    <b>Total por Apto</b>
                    <span th:text="${#numbers.formatDecimal(#aggregates.sum(apportionment.![totalPerApartment]), 1, 'DEFAULT', 2, 'DEFAULT')}"></span>
                </div>
            </section>
        </div>

        <div style="display: flex">
            <h3 class="font-weight-light" style="margin-right: 25px">Rateio Proporcional</h3>
        </div>

        <div class="table-responsive" style="margin-bottom: 35px">
            <table class="table table-hover table-sm crud-list mb-0" th:object="${apportionmentProportional}">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Apto</th>
                    <th scope="col">Despesa</th>
                    <th scope="col">Leitura Inicial</th>
                    <th scope="col">Leitura Final</th>
                    <th scope="col">Consumo</th>
                    <th scope="col">Valor Total</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="apportionmentProportional : ${apportionmentProportional}">
                    <th scope="row" th:text="${apportionmentProportional.apartment.number}"></th>
                    <th scope="row" th:text="${apportionmentProportional.expense.name}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionmentProportional.initialReading, 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionmentProportional.finalReading, 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionmentProportional.consumption, 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
                    <th scope="row" th:text="${#numbers.formatDecimal(apportionmentProportional.value, 1, 'DEFAULT', 2, 'DEFAULT')}"></th>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 class="font-weight-light">Condomínio Total</h3>
        <div class="table-responsive">
            <table class="table table-hover table-sm crud-list mb-0">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Apto</th>
                    <th scope="col">Rateio Igualitário</th>
                    <th scope="col">Rateio Proporcional</th>
                    <th scope="col">Total Condominio</th>
                    <th scope="col">Fundo de Obra + Reserva</th>
                    <th scope="col">Total Geral</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="condominioTotal : ${condominioTotal}">
                    <td th:text="${condominioTotal.apto}"></td>
                    <td th:text="${#numbers.formatDecimal(condominioTotal.rateioIgualitario, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(condominioTotal.rateioProporcional, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(condominioTotal.totalCondominio, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(condominioTotal.fundoReservaObra, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(condominioTotal.totalGeral, 1, 'DEFAULT', 2, 'DEFAULT')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>

    <!--    <div th:unless="${#lists.isEmpty(expense)}" class="modal fade" id="modalExcluir" tabindex="-1" role="dialog">-->
    <!--        <div class="modal-dialog  modal-dialog-centered" role="document">-->
    <!--            <div class="modal-content">-->
    <!--                <div class="modal-header">-->
    <!--                    <h5 class="modal-title" id="modalExcluirLabel">Confirmar Exclusão</h5>-->
    <!--                    <button type="button" class="close" data-dismiss="modal">-->
    <!--                        <span>&times;</span>-->
    <!--                    </button>-->
    <!--                </div>-->
    <!--                <form th:action="@{/trustee/expense/excluir}" th:method="delete" novalidate>-->
    <!--                    <input type="hidden" id="idObj" name="idObj"/>-->
    <!--                    <div class="modal-body">-->
    <!--                        Confirma a exclusão da despesa '<span></span>'?-->
    <!--                    </div>-->
    <!--                    <div class="modal-footer">-->
    <!--                        <button type="submit" class="btn btn-danger">Excluir</button>-->
    <!--                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>-->
    <!--                    </div>-->
    <!--                </form>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->

</th:block>

<th:block th:fragment="jsAdicional"></th:block>

</body>
</html>