<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Cadastrar Condomínio</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
	<!-- ... -->
</head>
<body>
	<th:block th:fragment="content">
		<main role="main">
		<h3 class="font-weight-light">Cadastro do Condomínio</h3>
		<p th:text="${condominium.idCondominium == null} ? 'As informações abaixo serão usadas pelo HelpSind para atendermos suas necessidades.' : (${param.somenteLeitura} ? 'As informações não podem ser alteradas neste modo.' :  'Ao salvar, as informações do condomínio serão atualizadas.')"></p>
		<form th:action="@{/trustee/condominium/cadastro}" th:object="${condominium}" th:method="${condominium.idCondominium == null} ? post : put" novalidate>
			<fieldset th:disabled="${param.somenteLeitura}" class="mb-3">
				<input type="hidden" th:field="*{idCondominium}" />
				<div class="card">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<p class="text-primary">
								<i class="fas fa-building"></i> Informações principais
							</p>
							<div class="form-row row">
								<div class="form-group col-xs-12 col-md-4">
									<label>Razão Social</label> <input class="form-control" type="text" th:errorclass="is-invalid"
									                                   th:field="*{corporateName}"
									                                   placeholder="A razão social ou o nome do condomínio" autofocus/>
									<div class="invalid-feedback" th:errors="*{corporateName}"></div>
								</div>
								<div class="form-group col-xs-12 col-md-2">
									<label>CNPJ</label>
									<input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{cnpj}" id="cnpjField" placeholder="CNPJ do condomínio" maxlength="18" th:value="${condominium.cnpj}"/>
									<div class="invalid-feedback" th:errors="*{cnpj}"></div>
								</div>
								<div class="form-group col-xs-12 col-md-2">
									<label for="typeCondominium">Valor Fixo</label>
									<input type="checkbox" id="typeCondominiumChecked" name="typeCondominiumChecked"/>
									<input class="form-control" type="number" id="typeCondominium" name="typeCondominium" disabled
										   th:value="${condominium.typeCondominium}" placeholder="Valor"/>
								</div>
								<div class="form-group col-xs-12 col-md-2">
									<label>Fundo de Obras</label>
									<input class="form-control" type="number" th:errorclass="is-invalid" th:field="*{fundoObra}" />
									<div class="invalid-feedback" th:errors="*{fundoObra}"></div>
								</div>
								<div class="form-group col-xs-12 col-md-2">
									<label>Fundo de Reservas</label>
									<input class="form-control" type="number" th:errorclass="is-invalid" th:field="*{fundoReserva}" />
									<div class="invalid-feedback" th:errors="*{fundoReserva}"></div>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<p class="text-primary">
								<i class="fas fa-envelope"></i> Dados de contato
							</p>
							<div class="form-row row">
								<div class="form-group col-xs-12 col-md-4">
									<label>E-mail</label> <input class="form-control" type="email" th:errorclass="is-invalid"
									                             th:field="*{email}" placeholder="O e-mail do condomínio"/>
									<div class="invalid-feedback" th:errors="*{email}"></div>
								</div>
								
								<div class="form-group col-xs-12 col-md-2">
									<label>Telefone</label>
									<input class="form-control" type="tel" th:errorclass="is-invalid" th:field="*{phone}" placeholder="Telefone com DDD" maxlength="14" />
									<div class="invalid-feedback" th:errors="*{phone}"></div>
									<small>Somente números</small>
								</div>
								<div class="form-group col-xs-12 col-md-2">
									<label>Celular</label>
									<input class="form-control" type="tel" th:errorclass="is-invalid" th:field="*{cellphone}" placeholder="Celular com DDD" maxlength="15" />
									<div class="invalid-feedback" th:errors="*{cellphone}"></div>
									<small>Somente números</small>
								</div>
							</div>
						</li>
						<li class="list-group-item">
							<p class="text-primary">
								<i class="fas fa-map-marker-alt"></i> Localização
							</p>
							<div class="form-row row">
								
								<div class="form-group col-md-2">
									<label>CEP <a class="text-secondary" tabindex="-1"
									              href="http://www.buscacep.correios.com.br/sistemas/buscacep/buscaCep.cfm"
									              title="Não sei o CEP" target="_blank"><i class="fas fa-question-circle"></i></a></label>
									<input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{cep}"
									       placeholder="O CEP do condominio" maxlength="9" />
									<div class="invalid-feedback" th:errors="*{cep}"></div>
									<small>Somente números</small>
								</div>
								
								<div class="form-group col-md-5">
									<label for="state">Estado</label>
									<select class="form-control" id="state" name="state" th:errorclass="is-invalid" th:field="*{state}">
										<option th:unless="${param.somenteLeitura}" value="" hidden="true">Selecione</option>
										<option th:each="state : ${states}" th:value="${state}" th:text="${state.name}"></option>
									</select>
									<div class="invalid-feedback" th:errors="*{state}"></div>
								</div>
								
								<div class="form-group col-md-5">
									<label>Município</label> <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{city}" placeholder="O município do condomínio" />
									<div class="invalid-feedback" th:errors="*{city}"></div>
								</div>
								
								<div class="form-group col-xs-12 col-md-6">
									<label>Logradouro</label> <input class="form-control" type="text" th:errorclass="is-invalid"
									                          th:field="*{address}" placeholder="Rua, avenida, travessa, etc"/>
									<div class="invalid-feedback" th:errors="*{address}"></div>
								</div>
								<div class="form-group col-xs-12 col-md-1">
									<label>Número</label> <input class="form-control" type="number" th:errorclass="is-invalid"
									                             th:field="*{addressNumber}" placeholder="O nº"/>
									<div class="invalid-feedback" th:errors="*{addressNumber}"></div>
								</div>
								
								<div class="form-group col-xs-12 col-md-5">
									<label>Complemento</label> <input class="form-control" type="text" th:errorclass="is-invalid"
									                                  th:field="*{addressComplement}"
									                                  placeholder="Complemento do endereço"/>
									<div class="invalid-feedback" th:errors="*{addressComplement}"></div>
								</div>
								<div class="form-group col-md-6">
									<label>Bairro</label> <input class="form-control" type="text" th:errorclass="is-invalid"
									                             th:field="*{neighborhood}" placeholder="Bairro ou distrito"/>
									<div class="invalid-feedback" th:errors="*{neighborhood}"></div>
								</div>
								
							</div>
						</li>
					</ul>
				</div>
			</fieldset>
			<div class="submit-group">
				<a class="btn btn-secondary" th:href="@{/home}" role="button" th:text="${param.somenteLeitura}?'Voltar':_">Cancelar</a>
				<button th:unless="${param.somenteLeitura}" type="submit" class="btn btn-primary ml10">Salvar</button>
			</div>
		</form>
			<script>
				$(document).ready(function() {
					$('#cnpjField').inputmask('99.999.999/9999-99', { clearMaskOnLostFocus: false });
				});
			</script>
		<script>
			document.getElementById('typeCondominiumChecked').addEventListener('change', function () {
				var typeCondominiumInput = document.getElementById('typeCondominium');
				typeCondominiumInput.disabled = !this.checked;
				if (!this.checked) {
					typeCondominiumInput.value = ''; // Limpar o valor quando o checkbox for desmarcado
				}
			});
		</script>
		<script th:inline="javascript">

			function mascaraCnpj(cnpj){
				cnpj = cnpj.replace(/\D/g,"");
				cnpj = cnpj.replace(/^(\d{2})(\d)/,"$1.$2");
				cnpj = cnpj.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3");
				cnpj = cnpj.replace(/\.(\d{3})(\d)/,".$1/$2");
				cnpj = cnpj.replace(/(\d{4})(\d)/,"$1-$2");
				return cnpj;
			}

			function mascaraTelefone(telefone) {
				telefone = telefone.replace(/\D/g, '');
				telefone = telefone.replace(/^(\d{2})(\d)/g, '($1) $2');
				telefone = telefone.replace(/(\d)(\d{4})$/, '$1-$2');
				return telefone;
			}

			function mascaraCelular(celular) {
				celular = celular.replace(/\D/g, '');
				celular = celular.replace(/^(\d{2})(\d)/g, '($1) $2');
				celular = celular.replace(/(\d)(\d{4})$/, '$1-$2');
				return celular;
			}

			function mascaraCep(cep) {
				cep = cep.replace(/\D/g, '');
				cep = cep.replace(/^(\d{5})(\d)/, '$1-$2');
				return cep;
			}

			/* Aplicação da máscara nos campos Telefone, Celular, CNPJ e CEP */

			document.addEventListener('DOMContentLoaded', function () {
				var telefoneField = document.getElementById('phone');
				var celularField = document.getElementById('cellphone');
				var cepField = document.getElementById('cep');
				var cnpjField = document.getElementById('cnpjField');

				telefoneField.addEventListener('input', function () {
					this.value = mascaraTelefone(this.value);
				});

				celularField.addEventListener('input', function () {
					this.value = mascaraCelular(this.value);
				});

				cepField.addEventListener('input', function () {
					this.value = mascaraCep(this.value);
				});

				cnpjField.addEventListener('input', function () {
					this.value = mascaraCnpj(this.value);
				});
			});
		</script>

		</main>
	</th:block>
	<th:block th:fragment="jsAdicional">
<!--		<script>-->
<!--            document.getElementById('typeCondominiumChecked').addEventListener('change', function () {-->
<!--                var typeCondominiumInput = document.getElementById('typeCondominium');-->
<!--                var fundoObraInput = document.querySelector('input[name="fundoObra"]');-->
<!--                var fundoReservaInput = document.querySelector('input[name="fundoReserva"]');-->

<!--                typeCondominiumInput.disabled = !this.checked;-->
<!--                if (this.checked) {-->
<!--                    typeCondominiumInput.value = '';-->
<!--                    fundoObraInput.value = ''; // Zerar o valor de Fundo de Obras-->
<!--                    fundoReservaInput.value = ''; // Zerar o valor de Fundo de Reservas-->
<!--                    fundoObraInput.disabled = true; // Desativar campo de Fundo de Obras-->
<!--                    fundoReservaInput.disabled = true; // Desativar campo de Fundo de Reservas-->
<!--                } else {-->
<!--                    fundoObraInput.disabled = false; // Habilitar campo de Fundo de Obras-->
<!--                    fundoReservaInput.disabled = false; // Habilitar campo de Fundo de Reservas-->
<!--                }-->
<!--            });-->
<!--        </script>-->
	</th:block>
</body>
</html>