<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Rateio Variável</title>
</head>
<body>
<th:block th:fragment="content">
	<main role="main">
		<div style="display: flex; justify-content: flex-end">
			<button class="btn btn-primary" type="button" th:title="'imprimir'" onclick="print()"><span class="fas fa fa-print"></span> Imprimir</button>
		</div>
		<div id="printable" class="table-responsive mt-1">
			<table class="table table-hover table-sm crud-list mb-0">
				<caption class="pb-0">
					<span th:text="${varApport.totalElements == 0} ? 'Nenhum' : 'Há '+${varApport.totalElements}"></span> <span
						th:text="${varApport.totalElements>1} ? 'despesa cadastradas' : 'despesa cadastrada'"></span>.
				</caption>
				<thead class="thead-light">
				<tr>
					<th scope="col"> Descrição</th>
					<th scope="col"> Tipo de Despesa</th>
					<th scope="col"> Tipo de Rateio</th>
					<th scope="col"> Valor</th>
					<th scope="col"> Apartamento</th>
					<th scope="col"> Morador(a)</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="varApport : ${varApport.content}">
					<td scope="row" th:text="${varApport.expenseName}">
					</td>
					<td scope="row" th:text="${varApport.expenseType}">
					</td>
					<td scope="row" th:text="${varApport.type}">
					</td>
					<td scope="row" th:text="|R$ ${varApport.total}|">
					</td>
					<td scope="row" th:text="${varApport.apartmentNumber}">
					</td>
					<td scope="row" th:text="${varApport.personName}">
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</main>

</th:block>
<th:block th:fragment="jsAdicional"></th:block>

</body>
</html>